<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chief.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Chief.Properties.Settings.KLADRConnectionString" connectionString="Dsn=KLADR;dbq=C:\USERS\VAIO\DOCUMENTS\AMAS\Adress_base_KLADR;defaultdir=C:\USERS\VAIO\DOCUMENTS\AMAS\Adress_base_KLADR;driverid=533;fil=dBase 5.0;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <userSettings>
        <Chief.Properties.Settings>
            <setting name="SteelBlue" serializeAs="String">
                <value>Control</value>
            </setting>
        </Chief.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
